body {
    font-family: roboto, sans-serif;
}

.navbar,
.btn-color-red {
    background-color: #8B0000;
}

.btn-color-red {
    color: #fff;
}

.btn-color-red:hover {
    background-color: #FFDAB9;
    color: #000;
}


#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #8B0000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-servico .nav-link.active:hover {
    color: #fff;
}

/* .navbar-brand {
    font-family: pacifico, cursive;
} */

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: pacifico, cursive;
}

#sobre,
#depoimentos{
    background-color: #FFDAB9;
}

.text-colored {
    color: #8B0000;
}

.nav-servico .nav-link.nav-link.active {
    background-color: #8B0000;
    color: #fff;

}

.nav-servico .nav-link.nav-link {
    color: #8B0000;

}

#servicos .section-title {
    position: relative;
    right:30px;
    /* Ajuste o valor de 'right' */
    transform: translateY(-20px);
    
    

}

.toast-carrinho {
  position: fixed;
  top: 90px; /* 👈 AQUI mudou */
  right: 20px;
  background: #1a1333;
  color: #fff;
  padding: 12px 18px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2000;
  font-weight: 600;
}

.toast-carrinho.show {
  opacity: 1;
  transform: translateY(0);
}

/* BOTÃO ADICIONAR AO CARRINHO */
.btn-primary {
  transition: all 0.3s ease;
}

.btn-primary {
  transition: all 0.25s ease;
}

.btn-primary:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.9), 
              0 10px 25px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #8b0000, #c40000);
}