body {
    font-family: roboto, sans-serif;
}

.navbar,
.btn-color-red {
    background-color: #8B0000;
}

.btn-color-red {
    color: #fff;
}

.btn-color-red:hover {
    background-color: #FFDAB9;
    color: #000;
}


#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #8B0000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-servico .nav-link.active:hover {
    color: #fff;
}

/* .navbar-brand {
    font-family: pacifico, cursive;
} */

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: pacifico, cursive;
}

#sobre,
#fale-conosco {
    background-color: #FFDAB9;
}

.text-colored {
    color: #8B0000;
}

.nav-servico .nav-link.nav-link.active {
    background-color: #8B0000;
    color: #fff;

}

.nav-servico .nav-link.nav-link {
    color: #8B0000;

}

#servicos .section-title {
    position: relative;
    right:30px;
    /* Ajuste o valor de 'right' */
    transform: translateY(-20px);
    
    

}
